# Auto-detect text files and normalize line endings to LF for everyone
* text=auto eol=lf

*.go text eol=lf
*.sql text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
